$default-color: #000;
$card-color: #fff;
$basket-icon-color: #fff;
$active-color: #FFB800;
$accordion-third-color: #C4C4C4;
$side-menu-bg-color: #fff;
$content-bg-color: #F5F5FB;
$back-button-color: #C4C4C4;
$menu-icon-color: #C4C4C4;
$form-control-color: #F2F2F2;
$close-menu-color-item: #C4C4C4;
$close-menu-bg: #fff;
$close-menu-accordion-link-color: #000;
$close-menu-accordion-bg: #fff8e6;
$close-menu-accordion-link: #FFB800;
$border-color: #EBEBF9;
$star-color-text: #FFB800;
$star-default-color: #FFDFAE;
$star-active-color: #FFB800;
$text-slider-color: #fff;
$arrow-slider-color: #FFB800;
$dots-active-slider-color: #FFB800;
$dots-slider-color:  rgba(255, 184, 0, 0.2);;
$button-bg-slider-color: #FFB800;
$submit-app-border-color: #FFB800;
$order-default-color: #c4c4c4;
$order-active-color: #FFB800;

